.DiceGame {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.DiceGame-btn {
	background:  rgba(166,117,244,0.95);
	font-size: 25px;
	font-weight: 300;
	color: rgba(255,255,255,0.95);
	border-radius: 30px;
	height: 52px;
	margin-top: 40px;
	padding: 10px 52px;
	outline: none;
}

.DiceGame-btn[disabled] {
	background: rgba(33, 33, 33, 0.3);
}